.footer {
    background-color: $color-footer;
    padding: 30px 25px;
    
    &__content {
        font-size: $font-size-secondary;
        font-weight: $font-weight-light;

        @include desktop-max-width;
    }

    &__logo {
        img {
            width: 40%;
            filter: invert(100%);
            -webkit-filter: invert(100%);
            margin-bottom: 10px;

            @include tablet {
                width: auto;
                max-height: 50px;
            }   
        }
    }

    a {
        color: $color-white;
    }

    a:hover {
        text-decoration: underline;
    }

    &__icon {
        margin-right: 5px;
        font-size: $font-size-tertiary;
    }

    &__li {
        margin: 12px 0;
    }

}