.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__logo {
        height: 65px;
        padding: 20px 0 10px 0;

        img {
            width: 100%;
        }

        @media screen and (min-width: 992px) {
            height: 105px;
            padding: 40px 0 30px 0;
        }
    }

    &__localization {
        width: 100%;
        font-size: $font-size-secondary;
        text-align: center;
        background-color: $background-color-localization;
        padding: 15px 0;
        box-shadow: inset 0 8px 5px -10px $color-tertiary;

        .fa-location-dot {
            margin-right: 10px;
        }

        @media screen and (min-width: 992px) {
            width: auto;
            box-shadow: none;
            margin-left: 30px;
            padding: 15px;
            border-radius: 20px;
            font-size: 14px;

        }
    }

    &__previous-link {
        font-size: 22px;
        position: absolute;
        left: 20px;
    }
}