.restaurant {
    &__img {
        object-fit: cover;
        width: 100%;
        height: 260px;

        @media screen and (min-width: 992px) {
            height: 500px;

        }
    }

    .section {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        position: relative;
        margin-top: -50px;
        padding-top: 30px;

        @include desktop-max-width;

        @media screen and (min-width: 992px) {
            position: relative;
            top: -100px;
            border-radius: 35px;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;

        &__title {
            font-family: 'Shrikhand', cursive;
            font-size: $font-size-title;
            margin: 0;
        }

        &__fav {
            font-size: $font-size-heart-icon;
            line-height: 1.3;
        }
    }

    &__category__heading {
        font-size: $font-size-secondary;
        font-weight: $font-weight-light;
        text-transform: uppercase;
        margin-top: 35px;
    }

    hr {
        background-color: $color-tertiary;
        border: none;
        width: 40px;
        height: 3px;
        float: left;
        margin-bottom: 14px;
    }

    .cards {
        clear: both;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    .card {
        opacity: 0;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        overflow: hidden;

        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        // Affichage des cartes espacés de 200ms
        $delay : 0;
        @for $i from 1 through 3 {
            $delay : $delay + 200;

            &:nth-child(#{$i}) {
                animation-delay: $delay + ms;
            }
        }

        @keyframes fadeInAnimation {
            0% {
                transform: translate(0, 20px);
            }
            100% {
                opacity: 1;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 15px 10px;
            width: 100%;
            white-space: nowrap;
        }
        
        &__heading {
            margin-bottom: 5px;
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        &__subheading {
            font-size: $font-size-tertiary;
            font-weight: $font-weight-light;
            justify-content: space-between;

            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        

        &__price {
            font-size: $font-size-tertiary;
        }

        &__check {
            width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            color: white;
            position: absolute;
            right: -60px;

            transition: transform 500ms ease-in-out;

            &__icon {
                font-size: $font-size-check-icon;
                transition: transform 500ms ease-in-out;
            }
        }

        &:hover > .card__check {
            transform: translate(-60px, 0);
        }
        &:hover > .card__content {
            width: calc(100% - 60px);
        }
        &:hover i {
            transform: rotate(-360deg);
        }

        @media screen and (min-width: 768px) {
            width: calc(50% - 10px);
        }
    }
}

