.section {
    padding: 50px 20px;
    background-color: $background-color-primary;

    &__title {
        margin-bottom: 20px;
    }

    &--reservez {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .section__title {
            margin: 0;
        }
    }

    /* Home - Fonctionnement */
    &__operation {
        font-size: $font-size-secondary;

        .cards {
            padding-left: 12px;
        }

        .card {
            height: 75px;
            display: flex;
            align-items: center;
            border-radius: 20px;

            &__rank {
                color: $color-secondary;
                background-color: $background-color-tertiary;
                width: 25px;
                height: 25px;
                font-size: 14px;
                text-align: center;
                text-decoration: none;
                line-height: 1.9;
                position: relative;
                left: -12px;
                border-radius: 50%;
            }

            &__icon {
                font-size: 20px;
                color: $color-tertiary;
                margin: 0 25px 0 10px;
            }

            &--selected {
                background-color: $background-color-card-selected;

                .card__icon {
                    color: $background-color-tertiary;
                }
            }
        }

        @media screen and (min-width: 768px) {
            .cards {
                display: flex;
                justify-content: space-between;
    
                .card {
                    width: 31%;
                    &__icon {
                        margin: 0 10px 0 0;
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            max-width: 1024px;
            margin: 0 auto;
        }
    }

    /* Home - Restaurants */
    &__restaurant {
        .cards {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
    
            @media screen and (min-width: 768px) {
                flex-direction: row;
    
                .card {
                    width: calc(50% - 10px);
                }
            }

        }

        @media screen and (min-width: 992px) {
            max-width: 1024px;
            border-radius: 20px;
            margin: 0 auto 50px auto;
        }
    }

    &--grey {
        background-color: $background-color-secondary;
    }

    &--align-center {
        text-align: center;
    }

    &--no-padding-top {
        padding-top: 0;
    }

    @media screen and (min-width: 768px) {
        padding: 30px 20px;

        &--reservez {
            height: 220px;
        }
    }
}