.badge {
    font-size: $font-size-tertiary;
    position: absolute;
    right: 0;
    margin: 13px 13px 0 0;
    padding: 9px 12px;

    &--new {
        background: $color-tertiary;
        color: $color-tertiary-font;
    }
}