.badge {
    padding: 9px 12px;
    margin: 13px 13px 0 0;
    position: absolute;
    right: 20px; /* Largeur du padding de .card */
    font-size: 14px;

    &--new {
        background: $background-color-badge-new;
        color: $color-badge-new;
    }
}
