.card {
    background-color: $background-color-primary;
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: box-shadow 400ms;


    &:hover {
        box-shadow: 0 0 20px $shadow-color-hover;
    }

    a {
        text-decoration: none;
        color: $color-primary;
    }

    &__thumbnail {
        object-fit: cover;
        width: 100%;
        height: 175px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        h2 {
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            font-weight: 300;
        }
    }

    &__icon {
        font-size: 24px;

        &--like {
            color: $color-secondary;
            text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
            transition: all 200ms; 
            &:hover {
                text-shadow: unset;
                background: linear-gradient(to bottom right, $background-color-button-secondary, $background-color-tertiary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }

    &--grey {
        background-color: $background-color-secondary;
    }

    &--relative {
        position: relative;
    }
}