.section {
    padding: 30px 20px;
    background-color: $color-white;

    &__title {
        font-size: $font-size-title;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
    }

    /* Home - Fonctionnement */
    &__operation {
        .cards {
            padding-left: 12px;
        }

        .card {
            height: 75px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            font-size: $font-size-secondary;

            &__rank {
                color: $color-white;
                background-color: $color-primary;
                width: 25px;
                height: 25px;
                font-size: $font-size-tertiary;
                text-align: center;
                text-decoration: none;
                line-height: 1.9;
                position: relative;
                left: -12px;
                border-radius: 50%;
            }

            &__icon { /* Fonctionnement */
                font-size: $font-size-operation-icon;
                color: $color-grey-dark;
                margin: 0 25px 0 10px;
            }

            &--selected {
                background-color: $color-primary-selected;

                .card__icon {
                    color: $color-primary;
                }
            }
        }

        @include tablet {
            .cards {
                display: flex;
                justify-content: space-between;
    
                .card {
                    width: calc(100%/3 - 20px);
                    &__icon {
                        margin: 0 10px 0 0;
                    }
                }
            }
        }

        @include desktop-max-width;
    }

    /* Home - Restaurants */
    &__restaurant {
        .cards {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
    
            @media screen and (min-width: 768px) {
                flex-direction: row;
    
                .card {
                    width: calc(50% - 10px);
                }
            }

        }

        @include desktop-max-width;

        @include desktop {
            border-radius: 20px;
            margin-bottom: 50px
        }
    }

    &--grey {
        background-color: $color-grey;
    }

    &--align-center {
        text-align: center;
    }

    &--no-padding-top {
        padding-top: 0;
    }

    @include mobile {
        padding: 50px 20px;
    }

    @include tablet {
        padding: 30px 20px;

        &--reservez {
            height: 220px;
        }
    }
}