$color-primary: #000000;
$color-secondary: #FFFFFF;
$color-tertiary: #7E7E7E;   /* Icones + ombre localisation*/
$color-quaternary: #CCCCCC; /* Ombres */
$color-badge-new: #008766;


$background-color-primary: #FFFFFF;
$background-color-secondary: #F6F6F6;
$background-color-tertiary: #9356DC;
$background-color-button-secondary: #FF79DA;
$background-color-localization: #EAEAEA;
$background-color-badge-new: #99E2D0;

$font-size-primary: 18px;
$font-size-secondary: 16px;