.button {
    color: $color-white;
    font-size: $font-size-secondary;
    border: none;
    border-radius: 50px;
    @include background-linear-gradient;
    @include box-shadow;
    cursor: pointer;
    margin: 0 auto;
    padding: 15px 20px;
    transition: all 400ms;

    &:hover {
        filter: brightness(1.1);
        @include box-shadow-hover;
    }
}
