body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-primary;
    font-weight: $font-weight-medium;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: $color-black;

    &.url-block {
        display: block;
    }
}

.align-center {
    text-align: center;
}

.mb20 {
    margin-bottom: 20px;
}